@use "../../styles/partial/partial" as *;

.footer {
  background-color: $purple;
  height: 150px;
  align-content: center;

  &__name {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem;
  }

  &__title {
    margin: 0;
  }

  &__icons {
    display: flex;
    justify-content: space-evenly;
  }
}
